<!-- navbar de todas as telas -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <!-- routerLink="" == pagina inicial -->
  <a class="navbar-brand" routerLink="">Hospedagens</a>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">

      <!-- routerLink="" == pagina inicial -->
      <li class="nav-item active">
        <a class="nav-link" routerLink="">
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <!-- routerLink="/create" == pagina criação de produto -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/create">Cadastrar</a>
      </li>

      <!-- routerLink="/contato" == pagina contato do cliente -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/contato">Contato</a>
      </li>
    </ul>
  </div>
</nav>
