<h1>create</h1>
<div class="wrapper">
  <div class="container">

    <form #f="ngForm" (ngSubmit)="cadastrar(f)">

      <!--  nomeProduto -->
      <div class="form-group">
        <label for="nome">nomeProduto</label>
        <div class="form-inline my-2 my-lg-0">
          <input name="nome" ngModel class="form-control mr-sm-2" type="text">
        </div>
      </div>

      <!--  marca -->
      <div class="form-group">
        <label for="nome">marca</label>
        <div class="form-inline my-2 my-lg-0">
          <input name="nome" ngModel class="form-control mr-sm-2" type="text">
        </div>
      </div>

      <!--  ncm -->
      <div class="form-group">
        <label for="nome">ncm</label>
        <div class="form-inline my-2 my-lg-0">
          <input name="nome" ngModel class="form-control mr-sm-2" type="text">
        </div>
      </div>

      <!--  CodigoCest -->
      <div class="form-group">
        <label for="nome">CodigoCest</label>
        <div class="form-inline my-2 my-lg-0">
          <input name="nome" ngModel class="form-control mr-sm-2" type="text">
        </div>
      </div>

      <!--  CustodaCXouUNID -->
      <div class="form-group">
        <label for="nome">CustodaCXouUNID</label>
        <div class="form-inline my-2 my-lg-0">
          <input name="nome" ngModel class="form-control mr-sm-2" type="text">
        </div>
      </div>

      <!--  CodigoEan -->
      <div class="form-group">
        <label for="nome">CodigoEan</label>
        <div class="form-inline my-2 my-lg-0">
          <input name="nome" ngModel class="form-control mr-sm-2" type="text">
        </div>
      </div>

      <!--  CodigoDum -->
      <div class="form-group">
        <label for="nome">CodigoDum</label>
        <div class="form-inline my-2 my-lg-0">
          <input name="nome" ngModel class="form-control mr-sm-2" type="text">
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-outline-danger" (onclick)="cadastrar(f)">Cadastrar</button>
      </div>

    </form>

  </div>
</div>