<!-- Tela de Cadastro de novos produtos -->
<div class="marginPrincipal">

  <h1 class="marginPrincipal">Cadastro de Produtos</h1>
  <div class="wrapper">
    <div class="container">
      <form #f="ngForm" (ngSubmit)="cadastrar(f)">

        <!-- nomeHospedagem -->
        <div class="form-group marginPrincipal">
          <label for="nomeHospedagem">nomeHospedagem</label>
          <div class="form-inline my-2 my-lg-0">
            <input name="nomeHospedagem" ngModel class="form-control mr-sm-2" type="text">
          </div>
        </div>

        <!-- tipo -->
        <div class="form-group col-md-4">
          <label for="tipo">tipo</label>
          <select id="tipo" class="form-control">
            <option selected>Choose...</option>
            <option>hotel</option>
            <option>Flath</option>
          </select>
        </div>
 
        <!-- gerenteHotel -->
        <div class="form-group marginPrincipal">
          <label for="gerenteHotel">gerenteHotel</label>
          <div class="form-inline my-2 my-lg-0">
            <input name="gerenteHotel" ngModel class="form-control mr-sm-2" type="text">
          </div>
        </div>

        <!-- contatoEmail -->
        <div class="form-group marginPrincipal">
          <label for="contatoEmail">contatoEmail</label>
          <div class="form-inline my-2 my-lg-0">
            <input name="contatoEmail" ngModel class="form-control mr-sm-2" type="email">
          </div>
        </div>

        <!-- custoPessoa -->
        <div class="form-group marginPrincipal">
          <label for="custoPessoa">custoPessoa</label>
          <div class="form-inline my-2 my-lg-0">
            <input name="custoPessoa" ngModel class="form-control mr-sm-2" type="number">
          </div>
        </div>

        <!-- aceitaAnimal -->
        <div class="form-group marginPrincipal">
          <label for="aceitaAnimal">aceitaAnimal</label>
          <div class="form-inline my-2 my-lg-0">
            <input name="aceitaAnimal" ngModel class="form-control mr-sm-2" type="text">
          </div>
        </div>

        <!--  Imagem -->
        <div class="form-group marginPrincipal">
          <label for="imagem">Imagem</label>
          <div class="form-inline my-2 my-lg-0">
            <input type="file" name="imagem" id="avatar" ngModel (change)="onChange($event)" #fileInput>
          </div>
          <ul class="form-inline my-2 my-lg-0">
            <li *ngFor="let f of files">{{ f.name }}
            </li>
          </ul>
        </div>

        <!-- botão de cadastro -->
        <div class="form-group marginPrincipal">
          <button type="submit" class="btn btn-outline-danger" (onclick)="cadastrar(f)" data-toggle="modal" data-target="#exampleModalCenter">Cadastrar</button>
        </div>
      </form>
      <br>

      <!-- alerta de menssagem de cadastro com sucesso -->
      <!--div *ngIf="validacao == true" class="alert alert-dismissible alert-success marginPrincipal">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>E-mail enviado com successo!</strong>
  </div-->

    </div>
  </div>
</div>

<!-- chamada do modal -->
<app-modal></app-modal>