* {
    margin: 0px;
}

/* --margem principal da pagina-- */

.marginPrincipal {
    margin: 20px;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  margin: 10px;
}

.espacamentoBotao{
  margin: 10px;
}

.espacoSwitch{
  padding: 30px;
}
