<h1>detalhe</h1>
<br>
<div class="wrapper">
  <div class="container">

    <form #f="ngForm" (ngSubmit)="createClient(f)">
 
      <!-- switch -->
      <div class="custom-control custom-switch">
        <input #box type="checkbox" class="custom-control-input" id="switch1" (change)="teste(box.checked)">
        <label class="custom-control-label" for="switch1">editar</label>
      </div>

      <div class="form-group">
        <label for="nome">Nome</label>
        <div class="form-inline my-2 my-lg-0">
          <input name="nome" ngModel class="form-control mr-sm-2" type="text">
        </div>
      </div>

      <div class="form-group">
        <label for="idade">Idade</label>
        <div class="form-inline my-2 my-lg-0">
          <input name="idade" ngModel class="form-control mr-sm-2" type="number">
        </div>
      </div>

      <div class="form-group">
        <label for="cpf">CPF</label>
        <div class="form-inline my-2 my-lg-0">
          <input name="cpf" ngModel class="form-control mr-sm-2" type="text">
        </div>
      </div>

      <div class="form-group">
        <label for="telefone">Telefone</label>
        <div class="form-inline my-2 my-lg-0">
          <input name="telefone" ngModel class="form-control mr-sm-2" type="text">
        </div>
      </div>

      <div class="form-group">
        <label for="email">E-mail</label>
        <div class="form-inline my-2 my-lg-0">
          <input name="email" ngModel class="form-control mr-sm-2" type="text">
        </div>
      </div>

    </form>

  </div>
</div>