<!-- componente que chama á Dashboard -->
<div class="jumbotron">
  <h1>Dashboard</h1>
  <p>Visualize seus dados em Dashboard</p>
  <p><a class="btn btn-primary btn-lg" routerLink="/dashboard">Siga</a></p>
</div>

<!-- Lista de produtos -->
<br>
<h1>Catalogo de Produtos</h1>
<br>
<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="text" placeholder="Buscar por produto">
  <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
</form>
<br>
<table class="table table-striped text-center">
  <thead>
    <tr class="table-active">
      <th scope="col">#</th>
      <th scope="col">Produto</th>
      <th scope="col">Marca</th>
      <th scope="col">ncm</th>
      <th scope="col">Codigo Cest</th>
      <th scope="col">Custo da CX ou UNID</th>
      <th scope="col">Codigo Ean</th>
      <th scope="col">Codigo Dum</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produto of produtos">
      <th>{{produto.id}}</th>
      <th>{{produto.nomeProduto}}</th>
      <th>{{produto.marca}}</th>
      <th>{{produto.ncm}}</th>
      <th>{{produto.CodigoCest}}</th>
      <th>{{produto.CustodaCXouUNID}}</th>
      <th>{{produto.CodigoEan}}</th>
      <th>{{produto.CodigoDum}}</th>
      <td>
        <a routerLink="['/details',produto.id]" (click)="trazerCliente(produto.id, produto)">
          <i class="fas fa-pencil-alt"></i>
        </a>
        <a routerLink="/details" (click)="trazerCliente(produto.id, produto)">
          <i class="fas fa-info-circle"></i>
        </a>
        <a routerLink="/delete" #exclu  (click)="deleteClient(produto.id,produto)">
          <i class="far fa-trash-alt"></i>
        </a>
      </td>
    </tr>

    <!-- Paginação -->
    <ul class="pagination" *ngFor="let produto of produtos; let i = index">
      <ol class="teste">
        <a href="#">{{i}}</a>
      </ol>
    </ul>


    <!--pagination boundary-links="true" max-size="3" items-per-page="itemsPerPage" total-items="produtos.length"
     ng-model="currentPage" ng-change="pageChanged()">
  </pagination-->

  </tbody>
</table>
<br>
 
<!-- alerta de menssagem de excluído com sucesso -->
<div *ngIf="excluirValidacao == true" class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Registro excluído com successo!</strong>
</div>