<br>
<table class="table table-striped text-center">
  <thead>
    <tr class="table-active">
      <th scope="col">#</th>
      <th scope="col">Produto</th>
      <th scope="col">Marca</th>
      <th scope="col">ncm</th>
      <th scope="col">Codigo Cest</th>
      <th scope="col">Custo da CX ou UNID</th>
      <th scope="col">Codigo Ean</th>
      <th scope="col">Codigo Dum</th>
      <th scope="col">status</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let produto of produtos">
      <th>{{produto.id}}</th> 
      <th>{{produto.nomeProduto}}</th> 
      <th>{{produto.marca}}</th> 
      <th>{{produto.ncm}}</th> 
      <th>{{produto.CodigoCest}}</th> 
      <th>{{produto.CustodaCXouUNID}}</th> 
      <th>{{produto.CodigoEan}}</th> 
      <th>{{produto.CodigoDum}}</th>
      <td>
        <a routerLink="/update" (click)="update(produto.id, produto)">
          <i class="fas fa-pencil-alt"></i>
        </a>
        <a routerLink="/delete" (click)="deleteClient(produto.id,produto)">
          <i class="far fa-trash-alt"></i>
        </a>
        <a routerLink="/details" (click)="trazerCliente(produto.id, produto)">
          <i class="fas fa-info-circle"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>