<nav class="navbar navbar-dark bg-dark">

  <!-- Logo -->
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Abas de navegação -->
  <div class="navbar navbar-dark bg-dark" id="navbarNavAltMarkup">
    <div class="navbar-collapse">
      <a class="navbar-brand" href="#">Inicio</a>
      <a class="navbar-brand" href="#">Educação</a>
      <a class="navbar-brand" href="#experiencia">Experiência</a>
      <a class="navbar-brand" href="#contato">Contato</a>
    </div>
  </div>

  <!-- botão de opções -->
  <div class="dropdown">

    <button button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Home </a>
      <a class="dropdown-item" href="#">Home2 </a>
    </div>
  </div>
</nav>
<br>