<!-- Modal -->
<div class="modal fade marginPrincipal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Novos Dados Encontrados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        deseja salvar as informações passadas?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" routerLink="" data-dismiss="modal" (onclick)="cadastrar()">sim</button>
        <button type="submit" class="btn btn-primary btn-default pull-left" data-dismiss="modal" >
          <span class="glyphicon glyphicon-remove"></span>
          Não
        </button>
      </div>
    </div>
  </div>
</div>
