<div class="espacamento">

    <h1>Dashboard</h1>

    <!-- Grafico tipo Pizza -->
    <div class="card border-primary mb-3 carde coluna">
        <div class="card-header">
            <h4>Grafico</h4>
        </div>
        <div class="card-body">
            <h4 class="card-title">Pizza</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <google-chart [data]="pieChart1"></google-chart>
        </div>
        <div class="card-footer">{{formatacaoDataHora() | date:'dd/MM/yyyy, hh:mm aa' }}</div>
    </div>

    <!-- Grafico tipo Bar -->
    <div class="card border-primary mb-3 carde coluna">
        <div class="card-header">
            <h4>Grafico</h4>
        </div>
        <div class="card-body">
            <h4 class="card-title">Bar</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <google-chart [data]="pieChart2"></google-chart>
        </div>
        <div class="card-footer">{{formatacaoDataHora()  | date:'dd/MM/yyyy, hh:mm aa' }}</div>
    </div>

    <!-- Grafico tipo ColumnChart -->
    <div class="card border-primary mb-3 carde coluna">
        <div class="card-header">
            <h4>Grafico</h4>
        </div>
        <div class="card-body">
            <h4 class="card-title">ColumnChart</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <google-chart [data]="pieChart4"></google-chart>
        </div>
        <div class="card-footer">{{formatacaoDataHora()  | date:'dd/MM/yyyy, hh:mm aa' }}</div>
    </div>

    <!-- Grafico tipo Table -->
    <div class="card border-primary mb-3 carde coluna">
        <div class="card-header">
            <h4>Grafico</h4>
        </div>
        <div class="card-body">
            <h4 class="card-title">Table</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <google-chart [data]="pieChart3"></google-chart>
        </div>
        <div class="card-footer">{{formatacaoDataHora()  | date:'dd/MM/yyyy, hh:mm aa' }}</div>
    </div>

    <!-- dados da qtd. de produtos totais -->
    <div class="card border-primary mb-3 carde coluna">
        <div class="card-header">
            <h4>Dado</h4>
        </div>
        <div class="card-body">
            <ul>
                <li class="coluna">
                    <p class="card-text">Qtd. Registros</p>
                    <h4 class="card-title">{{produtos.length}}</h4>
                </li>

                <li class="coluna">
                    <p class="card-text">Principal</p>
                    <h4 class="card-title">{{produtos[0].tipo}}</h4>
                </li>
            </ul>
        </div>
        <div class="card-footer">{{formatacaoDataHora()  | date:'dd/MM/yyyy, hh:mm aa' }}</div>
    </div>

    <!-- dados da qtd. de produtos totais -->
    <div class="card border-primary mb-3 carde coluna">
        <div class="card-header">
            <h4>Contatos</h4>
        </div>
        <div class="card-body">
            <ul>
                <li class="coluna">
                    <p class="card-text">Qtd. de Contatos de clientes</p>
                    <h4 class="card-title">{{menssagem.length}}</h4>
                </li>
            </ul>
        </div>
        <div class="card-footer">{{formatacaoDataHora()  | date:'dd/MM/yyyy, hh:mm aa' }}</div>
    </div>

    <!-- bar grafico chartJS-->
    <div class="card border-primary mb-3 carde coluna">
        <div class="card-header">
            <h4>Grafico</h4>
        </div>
        <div class="card-body">
            <h4 class="card-title">Table</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <canvas id="barChart" width="100" height="50" class="chartjs-render-monitor" style="display:block;"></canvas>
        </div>
        <div class="card-footer">{{formatacaoDataHora()  | date:'dd/MM/yyyy, hh:mm aa' }}</div>
    </div>
</div>
