<!-- Doughnut (grafico chartJS) -->
<div class="card border-primary mb-3 carde coluna">
  <div class="card-header">
    <h4>Relação Hotel x Flat</h4>
  </div>
  <div class="card-body">
    <canvas id="chartDoughnut" width="400" height="400" class="chartjs-render-monitor" style="display:block;"></canvas>
  </div>
  <!-- formatação de data da ultima extração dos dados na tela -->
  <div class="card-footer">{{formatacaoDataHora() | date:'dd/MM/yyyy, hh:mm aa' }}</div>
</div>


<!-- Bar (grafico chartJS) -->
<div class="card border-primary mb-3 carde coluna">
  <div class="card-header">
    <h4>Relação Hotel x Flat</h4>
  </div>
  <div class="card-body">
    <canvas id="chartBar" width="400" height="400" class="chartjs-render-monitor" style="display:block;"></canvas>
  </div>
  <!-- formatação de data da ultima extração dos dados na tela -->
  <div class="card-footer">{{formatacaoDataHora() | date:'dd/MM/yyyy, hh:mm aa' }}</div>
</div>

<!-- Pie (grafico chartJS) -->
<div class="card border-primary mb-3 carde coluna">
  <div class="card-header">
    <h4>Relação Hotel x Flat</h4>
  </div>
  <div class="card-body">
    <canvas id="chartPie" width="400" height="400" class="chartjs-render-monitor" style="display:block;"></canvas>
  </div>
  <!-- formatação de data da ultima extração dos dados na tela -->
  <div class="card-footer">{{formatacaoDataHora() | date:'dd/MM/yyyy, hh:mm aa' }}</div>
</div>


<!-- Line (grafico chartJS) -->
<div class="card border-primary mb-3 carde coluna">
  <div class="card-header">
    <h4>Relação Hotel x Flat</h4>
  </div>
  <div class="card-body">
    <canvas id="chartLine" width="400" height="400" class="chartjs-render-monitor" style="display:block;"></canvas>
  </div>
  <!-- formatação de data da ultima extração dos dados na tela -->
  <div class="card-footer">{{formatacaoDataHora() | date:'dd/MM/yyyy, hh:mm aa' }}</div>
</div>
