<!-- chartDoughnut grafico chartJS-->
<div class="card border-primary mb-3 carde coluna">
  <div class="card-header">
    <h4>Grafico</h4>
  </div>
  <div class="card-body">
    <canvas id="chartDoughnut" width="400" height="400" class="chartjs-render-monitor" style="display:block;"></canvas>
  </div>
  <div class="card-footer">{{formatacaoDataHora() | date:'dd/MM/yyyy, hh:mm aa' }}</div>
</div>


<!-- chartBar grafico chartJS-->
<div class="card border-primary mb-3 carde coluna">
  <div class="card-header">
    <h4>Grafico</h4>
  </div>
  <div class="card-body">
    <canvas id="chartBar" width="400" height="400" class="chartjs-render-monitor" style="display:block;"></canvas>
  </div>
  <div class="card-footer">{{formatacaoDataHora() | date:'dd/MM/yyyy, hh:mm aa' }}</div>
</div>

<!-- chartPie grafico chartJS-->
<div class="card border-primary mb-3 carde coluna">
  <div class="card-header">
    <h4>Grafico</h4>
  </div>
  <div class="card-body">
    <canvas id="chartPie" width="400" height="400" class="chartjs-render-monitor" style="display:block;"></canvas>
  </div>
  <div class="card-footer">{{formatacaoDataHora() | date:'dd/MM/yyyy, hh:mm aa' }}</div>
</div>


<!-- chartLine grafico chartJS-->
<div class="card border-primary mb-3 carde coluna">
  <div class="card-header">
    <h4>Grafico</h4>
  </div>
  <div class="card-body">
    <canvas id="chartLine" width="400" height="400" class="chartjs-render-monitor" style="display:block;"></canvas>
  </div>
  <div class="card-footer">{{formatacaoDataHora() | date:'dd/MM/yyyy, hh:mm aa' }}</div>
</div>