<!-- -->
<div class="wrapper">
  <div class="col-md-12">
    <div style="display: grid; grid-template-columns: 80% 3%">
      <h1>Detalhe do Cliente</h1>
    </div>

    <br>
    <br>
    <form class="row">

      <div class="form-check mx-sm-4 mb-3">

        <input type="">

        <!-- id -->
        <div class="form-group">
          <fieldset disabled="">
            <label for="inputId">id</label>
            <br>
            <input type="text" class="form-control" id="inputId" aria-describedby="emailHelp" >
          </fieldset>
        </div>

        <!-- nome -->
        <div class="form-group">
          <fieldset disabled="">
            <label for="inputNome">nome</label>
            <br>
            <input type="text" class="form-control" id="inputNome" aria-describedby="emailHelp"  >
          </fieldset>
        </div>

        <!-- idade -->
        <div class="form-group">
          <fieldset disabled="">
            <label for="inputIdade">idade</label>
            <br>
            <input type="text" class="form-control" id="inputIdade" aria-describedby="emailHelp">
          </fieldset>
        </div>

        <!-- cpf -->
        <div class="form-group">
          <fieldset disabled="">
            <label for="inputCpf">cpf</label>
            <br>
            <input type="text" class="form-control" id="inputCpf" aria-describedby="emailHelp">
          </fieldset>
        </div>

        <!-- telefone -->
        <div class="form-group">
          <fieldset disabled="">
            <label for="inputTelefone">telefone</label>
            <br>
            <input type="tel" class="form-control" id="inputTelefone" aria-describedby="emailHelp">
          </fieldset>
        </div>

        <!-- email -->
        <div class="form-group">
          <fieldset disabled="">
            <label for="exampleInputEmail1">E-mail</label>
            <br>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
          </fieldset>
        </div>

      </div>
    </form>

  </div>